body{
	overflow: hidden;
}

svg text {
	pointer-events: none;
	user-select: none;
}

/* @font-face {
	font-family: 'jura';
	src: url('../../../assets/ui/fonts/jura/jura.ttf');
}

p {
	font-family: "jura", futura, sans-serif;
} */
